## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg

## IDE
.vs/
.idea/
*.swp
*~

## OS
Thumbs.db
.DS_Store

## Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
